@model NFI.Models.DacListen

<div>
    <h4>DAC-listen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentensForetak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentensForetak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hvilket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hvilket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegissørenErStatsborger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegissørenErStatsborger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hvilketland)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hvilketland)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmenSka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmenSka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HvilkethvilkeLand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HvilkethvilkeLand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventuellKommentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventuellKommentar)
        </dd>

    </dl>
</div>
