@model NFI.Models.DacListen

<div>
    <h4>DAC-listen</h4>
    <hr />
    <table class="table ">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.HovedprodusentensForetak)
                </td>
                <td>
                    @Html.DisplayFor(model => model.HovedprodusentensForetak)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Hvilket)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Hvilket)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RegissørenErStatsborger)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RegissørenErStatsborger)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Hvilketland)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Hvilketland)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.FilmenSka)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FilmenSka)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.HvilkethvilkeLand)
                </td>
                <td>
                    @Html.DisplayFor(model => model.HvilkethvilkeLand)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.EventuellKommentar)

                </td>
                <td>
                    @Html.DisplayFor(model => model.EventuellKommentar)
                </td>
            </tr>
        </tbody>
    </table>
</div>
