@model NFI.Models.FinansieringsInformasjon

<div>
    <h4>Finansierings informasjon</h4>
    <hr />

    <table class="table ">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TotalbudsjettForProsjektet)
                </td>

                <td>
                    @Html.DisplayFor(model => model.TotalbudsjettForProsjektet)
                </td>
            </tr>


            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SøknadssumNorskFilminstitutt)
                </td>

                <td>
                    @Html.DisplayFor(model => model.SøknadssumNorskFilminstitutt)
                </td>
            </tr>

            <tr>

                <td>
                    @Html.DisplayNameFor(model => model.KalkylePath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.KalkylePath)
                </td>
            </tr>

            <tr>

                <td>
                    @Html.DisplayNameFor(model => model.FinansieringsplanMedSpesifikasjonPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.FinansieringsplanMedSpesifikasjonPath)
                </td>

            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BekreftetFinansiering)
                </td>

                <td>
                    @Html.DisplayFor(model => model.BekreftetFinansiering)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SamtligDokumentasjonPåProsjektetsBekreftedePaths)
                </td>


                <td>
                    @if (Model.SamtligDokumentasjonPåProsjektetsBekreftedePaths.Count > 0)
                    {
                        <ol type="1">
                            @foreach (string t in Model.SamtligDokumentasjonPåProsjektetsBekreftedePaths)
                            {
                                <li>@t</li>
                            }
                        </ol>
                    }
                </td>

            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.EventuellKommentarTilFinansiering)
                </td>

                <td>
                    @Html.DisplayFor(model => model.EventuellKommentarTilFinansiering)
                </td>

            </tr>
        </tbody>
    </table>
</div>
