@model NFI.Models.HovedProdusent
<div>
    <h4>Kontaktinformasjon hovedprodusent:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentProduksjonsforetaketsNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentProduksjonsforetaketsNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentOrganisasjonsnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentOrganisasjonsnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentPostadresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentPostadresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentPostnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentPostnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentPoststed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentPoststed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentLand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentLand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentProduksjonsforetaketsHjemmeside)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentProduksjonsforetaketsHjemmeside)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentensNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentensNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentensTittel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentensTittel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentensAdresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentensAdresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentensMobiltelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentensMobiltelefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HovedprodusentensEPostAdresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HovedprodusentensEPostAdresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hovedprodusentenskjonn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hovedprodusentenskjonn)
        </dd>

    </dl>
</div>
