@model NFI.Models.HovedProdusent
<div>
    <h4>Kontaktinformasjon hovedprodusent:</h4>
    <hr/>
    <table class="table ">
        <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentProduksjonsforetaketsNavn)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentProduksjonsforetaketsNavn)
            </td>
        </tr>


        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentOrganisasjonsnummer)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentOrganisasjonsnummer)
            </td>

        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentPostadresse)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentPostadresse)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentPostnummer)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentPostnummer)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentPoststed)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentPoststed)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentLand)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentLand)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentProduksjonsforetaketsHjemmeside)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentProduksjonsforetaketsHjemmeside)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentensNavn)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentensNavn)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentensTittel)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentensTittel)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentensAdresse)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentensAdresse)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentensMobiltelefon)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentensMobiltelefon)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HovedprodusentensEPostAdresse)
            </td>

            <td>
                @Html.DisplayFor(model => model.HovedprodusentensEPostAdresse)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Hovedprodusentenskjonn)
            </td>

            <td>
                @Html.DisplayFor(model => model.Hovedprodusentenskjonn)
            </td>
        </tr>
       
        </tbody>
    </table>
</div>
