@using NFI.Models
@model NFI.Models.InformasjonOmPersonerRoller

<div>
    <h4>Informasjon om personer/roller</h4>
    <hr />

    <table class="table ">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CVtilMinoritetprodusentensProduksjonsforetakPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.CVtilMinoritetprodusentensProduksjonsforetakPath)
                </td>
            </tr>


            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CVTilAnsvarligMinoritetsprodusentforetakPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.CVTilAnsvarligMinoritetsprodusentforetakPath)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CVtilHovedprodusentensProduksjonsforetakPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.CVtilHovedprodusentensProduksjonsforetakPath)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CVtilAnsvarligHovedprodusentPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.CVtilAnsvarligHovedprodusentPath)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>Regissørens</h2>
                </td>
            </tr>
            @if (Model.Regissoren.Count > 0)
            {
                for (var i = 0; i < Model.Regissoren.Count; ++i)
                {
                    <tr>
                        <td colspan="2">

                            <h4>@(i + 1). Regissøren </h4>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Regissoren[i].RegissørensNavnt)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Regissoren[i].RegissørensNavnt)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Regissoren[i].RegissørensKjønn)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Regissoren[i].RegissørensKjønn)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Regissoren[i].RegissørensCVPath)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Regissoren[i].RegissørensCVPath)
                        </td>
                    </tr>
                }
            }
            <tr>
                <td colspan="2">
                    <h2>Manusforfatterens</h2>
                </td>
            </tr>
            @if (Model.Manusforfatterens.Count > 0)
            {
                for (var i = 0; i < Model.Manusforfatterens.Count; ++i)
                {
                    <tr>
                        <td colspan="2">
                            <h4>@(i + 1). Manusforfatteren</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Manusforfatterens[i].ManusforfatterensNavn)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Manusforfatterens[i].ManusforfatterensNavn)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Manusforfatterens[i].ManusforfatterensKjønn)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Manusforfatterens[i].ManusforfatterensKjønn)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Manusforfatterens[i].ManusforfatterensCVPath)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Manusforfatterens[i].ManusforfatterensCVPath)
                        </td>
                    </tr>
                }

            }
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.EventuellKommentarPåPersoner)
                </td>

                <td>
                    @Html.DisplayFor(model => model.EventuellKommentarPåPersoner)
                </td>
            </tr>

        </tbody>

    </table>
</div>