@model NFI.Models.Manusforfatterens

<div>
    <h4>Manusforfatteren</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManusforfatterensNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManusforfatterensNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManusforfatterensKjønn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManusforfatterensKjønn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManusforfatterensCVPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManusforfatterensCVPath)
        </dd>

    </dl>
</div>