@model NFI.Models.Manusforfatterens

<div>
    <h4>Manusforfatteren</h4>
    <hr/>

    <table class="table ">
        <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ManusforfatterensNavn)
            </td>

            <td>
                @Html.DisplayFor(model => model.ManusforfatterensNavn)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ManusforfatterensKjønn)
            </td>

            <td>
                @Html.DisplayFor(model => model.ManusforfatterensKjønn)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ManusforfatterensCVPath)
            </td>

            <td>
                @Html.DisplayFor(model => model.ManusforfatterensCVPath)
            </td>
        </tr>
        </tbody>
    </table>
   
</div>