@model NFI.Models.NorskMinoritetsprodusent
<div>
    <h4>Kontaktinformasjon norsk minoritetsprodusent:</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.ProduksjonsforetaketsNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProduksjonsforetaketsNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisasjonsnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisasjonsnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postadresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postadresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poststed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poststed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Land)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Land)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProduksjonsforetaketsHjemmeside)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProduksjonsforetaketsHjemmeside)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinoritetsprodusentensNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinoritetsprodusentensNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinoritetsprodusentensTittel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinoritetsprodusentensTittel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinoritetsprodusentenssTelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinoritetsprodusentenssTelefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinoritetsprodusentensMobiltelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinoritetsprodusentensMobiltelefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinoritetsprodusentensFulleAdresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinoritetsprodusentensFulleAdresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinoritetsprodusentensEpostadresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinoritetsprodusentensEpostadresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinoritetsprodusentensKjonn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinoritetsprodusentensKjonn)
        </dd>
    </dl>
</div>
