@model NFI.Models.NorskMinoritetsprodusent
<div>
    <h4>Kontaktinformasjon norsk minoritetsprodusent:</h4>
    <hr />

    <table class="table ">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ProduksjonsforetaketsNavn)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProduksjonsforetaketsNavn)
                </td>
            </tr>


            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Organisasjonsnummer)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Organisasjonsnummer)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Postadresse)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Postadresse)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Postnummer)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Postnummer)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Poststed)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Poststed)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Land)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Land)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ProduksjonsforetaketsHjemmeside)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProduksjonsforetaketsHjemmeside)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.MinoritetsprodusentensNavn)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MinoritetsprodusentensNavn)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.MinoritetsprodusentensTittel)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MinoritetsprodusentensTittel)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.MinoritetsprodusentenssTelefon)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MinoritetsprodusentenssTelefon)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.MinoritetsprodusentensMobiltelefon)
                </td>

                <td>
                    @Html.DisplayFor(model => model.MinoritetsprodusentensMobiltelefon)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.MinoritetsprodusentensEpostadresse)
                </td>

                <td>
                    @Html.DisplayFor(model => model.MinoritetsprodusentensEpostadresse)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.MinoritetsprodusentensKjonn)
                </td>

                <td>
                    @Html.DisplayFor(model => model.MinoritetsprodusentensKjonn)
                </td>
            </tr>
        </tbody>
    </table>

</div>
