@model NFI.Models.Prosjektinformasjon
<div>
    <h4>Prosjektinformasjon</h4>
    <hr />
    <table class="table ">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TittelPåProsjektet)
                </td>

                <td>
                    @Html.DisplayFor(model => model.TittelPåProsjektet)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ErProsjektetEtOriginalverk)
                </td>

                <td>
                    @Html.DisplayFor(model => model.ErProsjektetEtOriginalverk)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DokumentasjonPåHovedprodusentenHarOpsjonFilmrettPaths)
                </td>
                <td>
                    @if (Model.DokumentasjonPåHovedprodusentenHarOpsjonFilmrettPaths.Count > 0)
                    {
                        <ol type="1">
                            @foreach (var t in Model.DokumentasjonPåHovedprodusentenHarOpsjonFilmrettPaths)
                            {
                                <li>@t</li>
                            }
                        </ol>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Språk)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Språk)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DateForOpptaksstart)
                </td>

                <td>
                    @Html.DisplayFor(model => model.DateForOpptaksstart)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AntattFerdigstillelseEllerPremiereDate)
                </td>

                <td>
                    @Html.DisplayFor(model => model.AntattFerdigstillelseEllerPremiereDate)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.KortBeskrivelseAvProsjektet)
                </td>

                <td>
                    @Html.DisplayFor(model => model.KortBeskrivelseAvProsjektet)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Sjanger)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Sjanger)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Lengde)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Lengde)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ReginotatPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.ReginotatPath)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.HandlingsbeskrivelseSynopsisPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.HandlingsbeskrivelseSynopsisPath)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ManuskriptPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.ManuskriptPath)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.FremdriftsplanPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.FremdriftsplanPath)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.OpptaksplanPath)
                </td>

                <td>
                    @Html.DisplayFor(model => model.OpptaksplanPath)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SamproduksjonsavtaleEllerIntensjonsavtaleOmSamproduksjonPaths)
                </td>

                <td>
                    @if (Model.SamproduksjonsavtaleEllerIntensjonsavtaleOmSamproduksjonPaths.Count > 0)
                    {
                        <ol type="1">
                            @foreach (var t in Model.SamproduksjonsavtaleEllerIntensjonsavtaleOmSamproduksjonPaths)
                            {
                              <li>@t</li>
                            }
                        </ol>
                    }
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.EventuelleAvtalerMedDistributørerPaths)
                </td>
                <td>
                    @if (Model.EventuelleAvtalerMedDistributørerPaths.Count > 0)
                    {
                        <ol type="1">
                            @foreach (var t in Model.EventuelleAvtalerMedDistributørerPaths)
                            {
                                <li>@t</li>
                            }
                        </ol>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.EventuellKommentarTilProsjektinformasjon)
                </td>

                <td>
                    @Html.DisplayFor(model => model.EventuellKommentarTilProsjektinformasjon)
                </td>
            </tr>
        </tbody>
    </table>
</div>
