@model NFI.Models.Regissoren

<div>
    <h4>Regissoren</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegissørensNavnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegissørensNavnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegissørensKjønn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegissørensKjønn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegissørensCVPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegissørensCVPath)
        </dd>

    </dl>
</div>
