@using NFI.Models
@model NFI.Models.VisueltMateriale

<div>
    <h4>Visuelt materiale</h4>
    <hr />

    <table class="table ">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.InntilTre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InntilTre)
                </td>
            </tr>


            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.HvilkeSkrivTittelÅr)
                </td>
                <td>
                    @Html.DisplayFor(model => model.HvilkeSkrivTittelÅr)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Følgerdet)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Følgerdet)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <h4>@Html.DisplayNameFor(model => model.NettadresseVisueltMateriale)</h4>
                </td>
            </tr>
            @if (Model.NettadresseVisueltMateriale.Count > 0)
            {
                for (var i = 0; i < Model.NettadresseVisueltMateriale.Count; ++i)
                {
                    <tr>
                        <td colspan="2">
                            <h4>
                               @(i+1). Nett adresse Visuelt Materiale
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => Model.NettadresseVisueltMateriale[i].Nettadressetil)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.NettadresseVisueltMateriale[i].Nettadressetil)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => Model.NettadresseVisueltMateriale[i].Eventueltpassord)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.NettadresseVisueltMateriale[i].Eventueltpassord)
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
