@using NFI.Models
@model NFI.Models.VisueltMateriale

<div>
    <h4>Visuelt materiale</h4>
    <hr />

    <table class="table ">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.InntilTre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InntilTre)
                </td>
            </tr>


            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.HvilkeSkrivTittelÅr)
                </td>
                <td>
                    @Html.DisplayFor(model => model.HvilkeSkrivTittelÅr)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Følgerdet)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Følgerdet)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.NettadresseVisueltMateriale)
                </td>
                <td>
                    @foreach (NettadresseVisueltMateriale t in Model.NettadresseVisueltMateriale)
                    {
                        @Html.Partial("../Admin/Sorfond/NettadresseVisueltMaterialeDetails", t)
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
