@using NFI.Helper
@model NFI.Models.UdsReisestotteDto

@{
    ViewBag.Title = "UDs reisestøtte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uds reisestipend</h2>
<form id="MainForm" class="form-horizontal" action="@Html.GetHostServerUrl()/UdsReisestotte/Save" enctype="multipart/form-data" method="post">
    <div class="container well panel col-md-8">
        <div class="form-group">
            @Html.LabelFor(model => model.Søkersnavn, htmlAttributes: new { @class = "control-label col-md-5 label-required" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Søkersnavn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Søkersnavn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Søkerspostadresse, htmlAttributes: new { @class = "control-label col-md-5 label-required" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Søkerspostadresse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Søkerspostadresse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Søkerspoststed, htmlAttributes: new { @class = "control-label col-md-5 label-required" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Søkerspoststed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Søkerspoststed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Søkersland, htmlAttributes: new { @class = "control-label col-md-5 label-required" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Søkersland, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Søkersland, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Søkersepost, htmlAttributes: new { @class = "control-label col-md-5 label-required" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Søkersepost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Søkersepost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Målforreisen, htmlAttributes: new { @class = "control-label col-md-5 label-required" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Målforreisen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Målforreisen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Beskrivelse, htmlAttributes: new {@class = "control-label col-md-5 label-required" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Beskrivelse, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Beskrivelse, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Budsjettfortiltak, htmlAttributes: new {@class = "control-label col-md-5 label-required"})

            <div class="col-md-7">
                <span class="btn btn-default btn-file">
                    @Html.TextBoxFor(model => model.Budsjettfortiltak, new {type = "file"})
                </span>
                @Html.ValidationMessageFor(model => model.Budsjettfortiltak, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dokumentasjon, htmlAttributes: new {@class = "control-label col-md-5 label-required"})

            <div class="col-md-7">
                <span class="btn btn-default btn-file">
                    @Html.TextBoxFor(model => model.Dokumentasjon, new {type = "file"})
                </span>
                @Html.ValidationMessageFor(model => model.Dokumentasjon, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Submit" class="btn btn-success pull-right" />
            </div>
        </div>
    </div>
</form>
