@model NFI.Models.CaptachaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "Captcha", new { id = "captchaForm", returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
{
    <div class="container well panel col-md-6">
        <h2>Løs oppgaven for å logge inn</h2>
        <div class="form-group">
            <a href="@Url.Action("Index")">
                <img alt="Captcha" src="@Url.Action("CaptchaImage", "Captcha")?prefix=@Model.Prefix" style="" />
            </a>
        </div>
        <div class="form-group">
            @Html.HiddenFor(model => model.Prefix)
            <div>
                <a href="@Url.Action("Index")"> Prøv et nytt</a>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Captcha, new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Captcha, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Captcha, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <input class="btn btn-success pull-right" type="submit" name="Submit" value="Send inn" />
            </div>
        </div>


    </div>

}