@model NFI.Models.LanseringDto
@section scripts
{
    <script src="~/Scripts/Lansering/Lansering.js"></script>
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="commentForm" class="form-horizontal" action="/Lansering/Create" enctype="multipart/form-data" method="post">
    <h2>Felles lanseringstiltak på viktige internasjonale arenaer</h2>

    @Html.AntiForgeryToken()

    @{
        if (TempData["Status"] != null)
        {
            if ((string)TempData["Status"] == "Error")
            {
                Html.RenderPartial("Error");
            }
        }
    }
    <div id="rootwizard" class="container well panel col-sm-8">
        <ul style="display: none">
            <li><a href="#tab1" data-toggle="tab"></a></li>
            <li><a href="#tab2" data-toggle="tab"></a></li>
            <li><a href="#tab3" data-toggle="tab"></a></li>
            <li><a href="#tab4" data-toggle="tab"></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <h2>1. Om søker</h2>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.NavnpåAnsvarligOrganisasjon, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NavnpåAnsvarligOrganisasjon, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.NavnpåAnsvarligOrganisasjon, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Organisasjonsnummer, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Organisasjonsnummer, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Organisasjonsnummer, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NavnpåDagligLeder, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NavnpåDagligLeder, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.NavnpåDagligLeder, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OrganisasjonensVirkeområde, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.OrganisasjonensVirkeområde, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.OrganisasjonensVirkeområde, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LeggvedOrganisasjonensProsjektledersCV, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        <span class="btn btn-default btn-file">
                            @Html.TextBoxFor(model => model.LeggvedOrganisasjonensProsjektledersCV, new { type = "file", htmlAttributes = new { @class = "btn-file" } })
                        </span>
                        @Html.ValidationMessageFor(model => model.LeggvedOrganisasjonensProsjektledersCV, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Postadresse, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Postadresse, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Postadresse, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Postnummer, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Postnummer, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Postnummer, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Poststed, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Poststed, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Poststed, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OrganisasjonensTelefonnummer, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.OrganisasjonensTelefonnummer, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.OrganisasjonensTelefonnummer, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EpostadresseKontaktperson, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.EpostadresseKontaktperson, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.EpostadresseKontaktperson, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mobiltelefon, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Mobiltelefon, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Mobiltelefon, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EvtannenInformasjonOmOrganisasjonen, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.EvtannenInformasjonOmOrganisasjonen, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.EvtannenInformasjonOmOrganisasjonen, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Harsøkertidligere, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.RadioButtonFor(model => model.Harsøkertidligere, "Ja") Ja
                        @Html.RadioButtonFor(model => model.Harsøkertidligere, "Nei")Nei
                        @Html.ValidationMessageFor(model => model.Harsøkertidligere, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HvisJAharNorsk, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-6">
                        @Html.RadioButtonFor(model => model.HvisJAharNorsk, "Ja") Ja
                        @Html.RadioButtonFor(model => model.HvisJAharNorsk, "Nei")Nei
                        @Html.ValidationMessageFor(model => model.HvisJAharNorsk, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HarTilsvarendeProsjekterTidligere, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.RadioButtonFor(model => model.HarTilsvarendeProsjekterTidligere, "Ja") Ja
                        @Html.RadioButtonFor(model => model.HarTilsvarendeProsjekterTidligere, "Nei")Nei
                        @Html.ValidationMessageFor(model => model.HarTilsvarendeProsjekterTidligere, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HvisJAEksemplifiserher, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.HvisJAEksemplifiserher, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.HvisJAEksemplifiserher, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LeggvedEventuelle, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-6">
                        <span class="btn btn-default btn-file">
                            @Html.TextBoxFor(model => model.LeggvedEventuelle, new { type = "file", htmlAttributes = new { @class = "btn-file" } })
                        </span>
                        @Html.ValidationMessageFor(model => model.LeggvedEventuelle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <h2>2. Om prosjektet</h2>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.ProsjektetsTittel, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProsjektetsTittel, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ProsjektetsTittel, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HvilkeTiltak, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.HvilkeTiltak, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.HvilkeTiltak, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LeggvedProsjektbeskrivelse, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        <span class="btn btn-default btn-file">
                            @Html.TextBoxFor(model => model.LeggvedProsjektbeskrivelse, new { type = "file", htmlAttributes = new { @class = "btn-file" } })
                        </span>
                        @Html.ValidationMessageFor(model => model.LeggvedProsjektbeskrivelse, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PåhvilkenArena, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.PåhvilkenArena, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.PåhvilkenArena, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NårskalProsjektetGjennomføres, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        <div class="input-group date col-md-5" data-provide="datepicker" data-date-format="dd.mm.yyyy">
                            @Html.TextBoxFor(model => model.NårskalProsjektetGjennomføres, new { @readonly = "", htmlAttributes = new { @class = "form-control text-box single-line" } })
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.NårskalProsjektetGjennomføres, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HvaerHovedmålsetningen, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.HvaerHovedmålsetningen, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.HvaerHovedmålsetningen, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HvilkenMålgruppe, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.HvilkenMålgruppe, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.HvilkenMålgruppe, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OppgiProsjektets, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.OppgiProsjektets, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.OppgiProsjektets, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HvaerdenForventede, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.HvaerdenForventede, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.HvaerdenForventede, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <h2>3. Økonomi</h2>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.TotalbudsjettforProsjektet, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.TotalbudsjettforProsjektet, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.TotalbudsjettforProsjektet, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SøknadssumtilNFI, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.SøknadssumtilNFI, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.SøknadssumtilNFI, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Oppgistørrelsen, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Oppgistørrelsen, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Oppgistørrelsen, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Oppgifordelingen, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Oppgifordelingen, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Oppgifordelingen, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LeggedBudsjettProsjektet, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        <span class="btn btn-default btn-file">
                            @Html.TextBoxFor(model => model.LeggedBudsjettProsjektet, new { type = "file", htmlAttributes = new { @class = "btn-file" } })
                        </span>
                        @Html.ValidationMessageFor(model => model.LeggedBudsjettProsjektet, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LeggvedFinansieringsplan, htmlAttributes: new {@class = "control-label col-md-4 label-required"})
                    <div class="col-md-6">
                        <span class="btn btn-default btn-file">
                            @Html.TextBoxFor(model => model.LeggvedFinansieringsplan, new { type = "file", htmlAttributes = new { @class = "btn-file" } })
                        </span>
                        @Html.ValidationMessageFor(model => model.LeggvedFinansieringsplan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab4">
                <h2>4. Eventuelle andre vedlegg</h2>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.Harduvedleggsom, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-6">
                        <span class="btn btn-default btn-file">
                            @Html.TextBoxFor(model => model.Harduvedleggsom, new { type = "file", multiple="",htmlAttributes = new { @class = "btn-file" } })
                        </span>
                        @Html.ValidationMessageFor(model => model.Harduvedleggsom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Beskrivelseavandrevedlegg, htmlAttributes: new {@class = "control-label col-md-4"})
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Beskrivelseavandrevedlegg, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Beskrivelseavandrevedlegg, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="row col-sm-10" id="ajaxLoader" style="display: none">
                <label class="alert-danger">Your application is in-progress. Please wait...</label>
                <img style="display: block; margin: 0 auto;" alt="*" src="~/Images/ajax-loader.gif" />
            </div>
            <div id="wizardBtn" class="row col-sm-10">
                <ul class="pager wizard">
                    <li class="previous pull-left"><a href="javascript:;">Previous</a></li>
                    <li class="next pull-right"><a href="javascript:;">Next</a></li>
                    <li><button id="btnSubmit" type="submit" class="btn btn-success pull-right" style="display: none">Submit</button></li>
                </ul>

            </div>

        </div>
    </div>

</form>
